KoctasMobil/Web References/WS_Tutanak/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_service">
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_zktmobil_urtut">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_ZKTMOBIL_TUTANAK">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char128">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="128" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char255">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char35">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="35" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char64">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="64" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char70">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="70" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZKTMOBIL_S_SATICI">
        <xsd:sequence>
          <xsd:element name="LIFNR" type="tns:char10" />
          <xsd:element name="NAME1" type="tns:char35" />
          <xsd:element name="NAME2" type="tns:char35" />
          <xsd:element name="NAME3" type="tns:char35" />
          <xsd:element name="NAME4" type="tns:char35" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZFORM_ARIZA">
        <xsd:sequence>
          <xsd:element name="IM_LIFNR" type="tns:char10" />
          <xsd:element name="IM_DATUM" type="tns:date" />
          <xsd:element name="IM_REF" type="tns:char16" />
          <xsd:element name="IM_EBELN" type="tns:char10" />
          <xsd:element name="IM_ACIKLM" type="tns:char255" />
          <xsd:element name="IM_NAME1" type="tns:char35" />
          <xsd:element name="TE_AD" type="tns:char20" />
          <xsd:element name="TE_UNV" type="tns:char20" />
          <xsd:element name="TA_AD" type="tns:char20" />
          <xsd:element name="PLAKA" type="tns:char20" />
          <xsd:element name="MY_AD" type="tns:char20" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZKTMOBIL_S_IMG_INFO">
        <xsd:sequence>
          <xsd:element name="NAME" type="tns:char70" />
          <xsd:element name="TITLE" type="tns:char64" />
          <xsd:element name="FILENAME" type="tns:char128" />
          <xsd:element name="FILELENGTH" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZKTMOBIL_ARIZA">
        <xsd:sequence>
          <xsd:element name="MATNR" type="tns:char18" />
          <xsd:element name="MAKTX" type="tns:char40" />
          <xsd:element name="MENGE" type="tns:char10" />
          <xsd:element name="TIP" type="tns:char20" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZKTMOBIL_S_IMG">
        <xsd:sequence>
          <xsd:element name="L" type="tns:char128" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZKMOBIL_RETURN">
        <xsd:sequence>
          <xsd:element name="RC_CODE" type="tns:char1" />
          <xsd:element name="RC_TEXT" type="tns:char100" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZKTMOBIL_S_SATICI">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZKTMOBIL_S_SATICI" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZKTMOBIL_ARIZA">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZKTMOBIL_ARIZA" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZKTMOBIL_S_IMG">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZKTMOBIL_S_IMG" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZKTMOBIL_GET_MAT_SATICI">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="I_EAN11" type="tns:char18" />
            <xsd:element minOccurs="0" name="I_MATNR" type="tns:char18" />
            <xsd:element minOccurs="0" name="TE_LIST" type="tns:TABLE_OF_ZKTMOBIL_S_SATICI" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZKTMOBIL_GET_MAT_SATICIResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TE_LIST" type="tns:TABLE_OF_ZKTMOBIL_S_SATICI" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZKTMOBIL_TUTANAK">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="IS_FORM_ALANLARI" type="tns:ZFORM_ARIZA" />
            <xsd:element minOccurs="0" name="IS_IMG_INFO1" type="tns:ZKTMOBIL_S_IMG_INFO" />
            <xsd:element minOccurs="0" name="IS_IMG_INFO2" type="tns:ZKTMOBIL_S_IMG_INFO" />
            <xsd:element minOccurs="0" name="IS_IMG_INFO3" type="tns:ZKTMOBIL_S_IMG_INFO" />
            <xsd:element minOccurs="0" name="IT_ARIZA" type="tns:TABLE_OF_ZKTMOBIL_ARIZA" />
            <xsd:element minOccurs="0" name="IT_BMP1" type="tns:TABLE_OF_ZKTMOBIL_S_IMG" />
            <xsd:element minOccurs="0" name="IT_BMP2" type="tns:TABLE_OF_ZKTMOBIL_S_IMG" />
            <xsd:element minOccurs="0" name="IT_BMP3" type="tns:TABLE_OF_ZKTMOBIL_S_IMG" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZKTMOBIL_TUTANAKResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="E_RETURN" type="tns:ZKMOBIL_RETURN" />
            <xsd:element name="IT_ARIZA" type="tns:TABLE_OF_ZKTMOBIL_ARIZA" />
            <xsd:element name="IT_BMP1" type="tns:TABLE_OF_ZKTMOBIL_S_IMG" />
            <xsd:element name="IT_BMP2" type="tns:TABLE_OF_ZKTMOBIL_S_IMG" />
            <xsd:element name="IT_BMP3" type="tns:TABLE_OF_ZKTMOBIL_S_IMG" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZKTMOBIL_GET_MAT_SATICI">
    <wsdl:part name="parameters" element="tns:ZKTMOBIL_GET_MAT_SATICI" />
  </wsdl:message>
  <wsdl:message name="ZKTMOBIL_GET_MAT_SATICIResponse">
    <wsdl:part name="parameter" element="tns:ZKTMOBIL_GET_MAT_SATICIResponse" />
  </wsdl:message>
  <wsdl:message name="ZKTMOBIL_TUTANAK">
    <wsdl:part name="parameters" element="tns:ZKTMOBIL_TUTANAK" />
  </wsdl:message>
  <wsdl:message name="ZKTMOBIL_TUTANAKResponse">
    <wsdl:part name="parameter" element="tns:ZKTMOBIL_TUTANAKResponse" />
  </wsdl:message>
  <wsdl:portType name="zktmobil_urtut">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_zktmobil_urtut" />
    </wsp:Policy>
    <wsdl:operation name="ZKTMOBIL_GET_MAT_SATICI">
      <wsdl:input message="tns:ZKTMOBIL_GET_MAT_SATICI" />
      <wsdl:output message="tns:ZKTMOBIL_GET_MAT_SATICIResponse" />
    </wsdl:operation>
    <wsdl:operation name="ZKTMOBIL_TUTANAK">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_ZKTMOBIL_TUTANAK" />
      </wsp:Policy>
      <wsdl:input message="tns:ZKTMOBIL_TUTANAK" />
      <wsdl:output message="tns:ZKTMOBIL_TUTANAKResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="service" type="tns:zktmobil_urtut">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_service" />
    </wsp:Policy>
    <wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
      <wsa:ReferenceParameters />
    </wsa:EndpointReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZKTMOBIL_GET_MAT_SATICI">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZKTMOBIL_TUTANAK">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="service" binding="tns:service">
      <soap:address location="http://ktqa.koctas.com.tr:8000/sap/bc/srt/rfc/sap/zktmobil_urtut/500/service/service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>